body {
  min-height: 100vh;
  margin-bottom: 0;
  margin-top: 0;
}

* {
  scrollbar-gutter: stable;
  scrollbar-color: #aaa transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.tag {
  background-color: var(--link);
  color: white;
  padding: 3px 7px;
  border-radius: 3px;
}

.tag > a, span.tag {
  color: var(--moredark);
}

ul.slight-spacing > li {
  margin-top: 2px;
}

.tag.fidelity {
  background-color: #027148;
}

.tag.datanext {
  background-color: #0b50b8;
}

.tag.scaleai {
  background-color: #9500cc;
}

.tag.presskit {
  background-color: #0096c4;
}

.tag.dark {
  background-color: #333;
}

.tag.expanded {
  padding: 10px;
}

.bordered {
  border-radius: 5px;
}
